.Characters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.character {
  border: 5px solid var(--borderColor);
  border-radius: 11px;
  margin: 11px;
}

.character img {
  width: 100%;
}

.character-details {
  display: flex;
  flex-direction: column;
  padding: 4px;
  flex-wrap: wrap;
}
