.Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drkmod-btn {
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
