.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--borderColor);
  border-radius: 5px;
}

#search-input {
  border: none;
  height: 5vmin;
  background: transparent;
}

#search-input:focus {
  outline: none;
}

#search-icon {
  height: 5vmin;
}
