:root {
  --borderColor: #02203c;
  --backgroundColor: white;
  color: var(--borderColor);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search-icon {
  fill: var(--borderColor);
}

.btn {
  margin: 0 15px;
  padding: 5px;
  font-size: 2rem;
  border: 3px solid #02203c;
  color: black;
}

.dark {
  --borderColor: white;
  --backgroundColor: #02203c;
  color: var(--borderColor);
  border-color: var(--borderColor);
  background-color: var(--backgroundColor);
}
